.UserLayout {
  height: 100vh;
}

.UserExplorerContainer {
  height: 65vh;
  margin-top: -10vh;
}

.UserExplorer {
  height: 100%;
}

.UserExplorer .column,
.UserExplorer .column .row {
  height: 100%;
}

.UserExplorerListContainer,
.UserExplorerDetailContainer {
  overflow: auto;
  overflow-scrolling: auto;
}

.UserExplorerListContainer::-webkit-scrollbar,
.UserExplorerDetailContainer::-webkit-scrollbar {
  display: none;
}

.UserExplorerDetailEmpty .middle .header {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -62px;
}

.UserExplorerDetailRepo .content {
  width: 100%;
}

.UserExplorerDetailRepo .description {
  padding: 2px 0 0;
  line-height: 1.25em;
}

.UserExplorerDetailRepo .ui.label.languageLabel {
  margin-left: 8px;
  padding: 2px 4px;
  vertical-align: top;
  float: right;
}

.UserExplorerDetailRepo .ui.grid .row,
.UserExplorerDetailRepo .ui.grid .row .column {
  padding: 0;
}
